<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="72937b">  <td>20/06/29 21:36:01</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SignInTestCases.beforeTest()[pri:0, instance:com.test.qa.testcase.SignInTestCases@2898ac89]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1151844284</td>   <td></td> </tr>
<tr bgcolor="76bb98">  <td>20/06/29 21:36:06</td>   <td>5593</td> <td>&nbsp;</td><td title="&gt;&gt;SignUpTestCases.beforeTest()[pri:0, instance:com.test.qa.testcase.SignUpTestCases@6e509ffa]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1151844284</td>   <td></td> </tr>
<tr bgcolor="76bb98">  <td>20/06/29 21:36:12</td>   <td>10845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpTestCases.tc01()[pri:0, instance:com.test.qa.testcase.SignUpTestCases@6e509ffa]">tc01</td> 
  <td>main@1151844284</td>   <td></td> </tr>
<tr bgcolor="76bb98">  <td>20/06/29 21:36:36</td>   <td>34897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpTestCases.tc02()[pri:0, instance:com.test.qa.testcase.SignUpTestCases@6e509ffa]">tc02</td> 
  <td>main@1151844284</td>   <td></td> </tr>
<tr bgcolor="76bb98">  <td>20/06/29 21:36:38</td>   <td>37199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpTestCases.tc03()[pri:0, instance:com.test.qa.testcase.SignUpTestCases@6e509ffa]">tc03</td> 
  <td>main@1151844284</td>   <td></td> </tr>
<tr bgcolor="72937b">  <td>20/06/29 21:36:39</td>   <td>37828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignInTestCases.tc01()[pri:0, instance:com.test.qa.testcase.SignInTestCases@2898ac89]">tc01</td> 
  <td>main@1151844284</td>   <td></td> </tr>
<tr bgcolor="72937b">  <td>20/06/29 21:36:44</td>   <td>43308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignInTestCases.tc02()[pri:0, instance:com.test.qa.testcase.SignInTestCases@2898ac89]">tc02</td> 
  <td>main@1151844284</td>   <td></td> </tr>
<tr bgcolor="72937b">  <td>20/06/29 21:36:48</td>   <td>47662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignInTestCases.tc03()[pri:0, instance:com.test.qa.testcase.SignInTestCases@2898ac89]">tc03</td> 
  <td>main@1151844284</td>   <td></td> </tr>
<tr bgcolor="72937b">  <td>20/06/29 21:36:49</td>   <td>48694</td> <td>&nbsp;</td><td title="&lt;&lt;SignInTestCases.afterTest()[pri:0, instance:com.test.qa.testcase.SignInTestCases@2898ac89]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1151844284</td>   <td></td> </tr>
<tr bgcolor="76bb98">  <td>20/06/29 21:36:49</td>   <td>48695</td> <td>&nbsp;</td><td title="&lt;&lt;SignUpTestCases.afterTest()[pri:0, instance:com.test.qa.testcase.SignUpTestCases@6e509ffa]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1151844284</td>   <td></td> </tr>
</table>
